@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff");
  font-display: swap; }
@font-face {
  font-family: 'Cera PRO bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-display: swap; }
@font-face {
  font-family: 'SilkSerif Medium';
  font-weight: 400;
  src: url("../fonts/silkserif-medium-webfont.woff2") format("woff2"), url("../fonts/silkserif-medium-webfont.woff") format("woff");
  font-display: swap; }
.header-background {
  background-color: white;
  padding-top: 20px; }
  .header-background .header {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1070px) {
      .header-background .header {
        width: 70%; } }
    .header-background .header__left {
      width: 58%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 25% 0 5%;
      background-image: url("../images/header_bg.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 85%; }
      .header-background .header__left svg {
        width: 17%;
        height: auto; }
      .header-background .header__left .menu-menu-header-container {
        position: absolute;
        border: 1px solid black;
        width: 58%; }
        .header-background .header__left .menu-menu-header-container .menu-item {
          width: 17%; }
          .header-background .header__left .menu-menu-header-container .menu-item #menu-menu-header {
            display: flex;
            justify-content: space-between;
            list-style: none; }
    .header-background .header__logo {
      width: 33%;
      height: auto;
      margin-top: 25px;
      background-image: url("../images/logo.png");
      background-size: contain;
      background-repeat: no-repeat; }
    .header-background .header::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10%;
      width: 120%;
      border: 1px solid #0a71b4; }

.article {
  width: 60%;
  margin: auto;
  padding-top: 3%;
  background-image: url("../images/content_bg.png");
  background-repeat: no-repeat;
  background-position-x: 20.5%;
  background-size: 41%; }
  @media (max-width: 1070px) {
    .article {
      width: 90%;
      background-position-x: 23.6%;
      background-size: 38.3%; } }
  .article__content__thumbnails {
    margin-left: 7.7%; }
    @media (max-width: 1070px) {
      .article__content__thumbnails {
        margin: auto;
        text-align: center; } }
    .article__content__thumbnails img {
      max-width: 53%;
      border-radius: 5%; }
      @media (max-width: 1070px) {
        .article__content__thumbnails img {
          max-width: 80%; } }
  .article__content__text {
    margin-left: 11.5%;
    display: flex; }
    @media (max-width: 1070px) {
      .article__content__text {
        flex-direction: column;
        align-items: center;
        margin: 0; } }
    .article__content__text__circles {
      display: flex;
      flex-direction: column; }
      @media (max-width: 1070px) {
        .article__content__text__circles {
          display: none; } }
      .article__content__text__circles svg {
        margin-top: 15px; }
    .article__content__text__content {
      margin-left: 5%;
      width: 70%; }
      @media (max-width: 1070px) {
        .article__content__text__content {
          margin: 0;
          width: 90%; } }
      .article__content__text__content p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        text-align: justify;
        line-height: 2rem;
        color: #7a003c;
        font-weight: bold; }
        @media (max-width: 1070px) {
          .article__content__text__content p {
            font-size: 1.2rem;
            line-height: 1.7rem; } }

body {
  margin: 0;
  background-color: #E1F5FD; }

/*# sourceMappingURL=app.css.map */
