.env
vendor/
MYREADME.md
.htaccess
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php


# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess