.header {
  height: 100vh;
  background-color: black;

  &::before {
    content: '';
    // background: rgb(69, 47, 16);
    background: black;
    z-index: 101;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.45;
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .logo_container {
      position: relative;
      z-index: 1000;
      height: 45vw;
      width: 64%;

      @media (min-width: $medium) {
        width: 42%;
      }


      .logo_part {
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        animation-duration: 1s;

        &.majie {
          background-image: url('../../dist/images/majie.png');

          animation: fadein 1s ease-out;

          @keyframes fadein {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }

        &.text {
          height: 8vw;
          width: 36vw;
          position: relative;
          // animation-name: fadein;

          &.montpellier {
            background-image: url('../../dist/images/montpellier2.png');
            top: -15.8vw;
            left: -1vw;
            animation: mtpIn 1s ease-out;

            @keyframes mtpIn {
              from {
                transform: scaleX(10) scaleY(10) translate(-100vw, -50vw);
                opacity: 0;
              }

              to {
                transform: none;
                opacity: 1;
              }
            }
          }

          &.accueil {
            background-image: url('../../dist/images/accueil2.png');
            top: -23.93vw;
            right: -36.23vw;
            animation: accIn 1.2s ease-out;

            @keyframes accIn {
              from {
                transform: scaleX(10) scaleY(10) translate(100vw, -50vw);
                opacity: 0;
              }

              to {
                transform: none;
                opacity: 1;
              }
            }
          }

          &.jeunes {
            background-image: url('../../dist/images/jeunes2.png');
            top: -24vw;
            left: -1.7vw;
            animation: jnIn 1.4s,;

            @keyframes jnIn {
              from {
                transform: scaleX(10) scaleY(10) translate(-100vw, 50vw);
                opacity: 0;
              }

              to {
                transform: none;
                opacity: 1;
              }
            }
          }

          &.isoles {
            background-image: url('../../dist/images/isoles2.png');
            top: -31.9vw;
            left: 18.6vw;
            animation: isolIn 1.6s,;

            @keyframes isolIn {
              from {
                transform: scaleX(10) scaleY(10) translate(-25vw, 100vw);
                opacity: 0;
              }

              to {
                transform: none;
                opacity: 1;
              }
            }
          }

          &.etrangers {
            background-image: url('../../dist/images/etrangers2.png');
            top: -39.9vw;
            left: 30.43vw;
            animation: etrIn 1.8s,;

            @keyframes etrIn {
              from {
                transform: scaleX(10) scaleY(10) translate(100vw, 50vw);
                opacity: 0;
              }

              to {
                transform: none;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__slider {
    height: 0;

    .picture {
      position: relative;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 65%;
      opacity: 0;
      transition: opacity 1s, background-position-x 6s;

      &:nth-child(even) {
        background-position-x: 35%;

        @media (min-width: $large) {
          background-position-x: 20%;
        }

      }

      @media (min-width: $large) {
        background-size: 120vw;

        &.visible {
          background-position-x: 80%;
        }

      }

      &.visible {
        opacity: 100;
        background-position-x: 50%;
      }
    }
  }
}