.header {
  height: 100vh;
  background-color: black;

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo_container {
      position: relative;
      z-index: 1000;
      height: 50%;
      width: 64%;

      @media (min-width: $medium) {
        width: 42%;
      }

      .logo_part {
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .majie {
        background-image: url('../../dist/images/majie.png');

        animation-duration: .5s;
        animation-name: fadein;

        @keyframes fadein {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }
      }

      .montpellier {
        background-image: url('../../dist/images/montpellier.png');
        background-size: 55%;
        background-position-y: 29.3vw;
        transform: translate(-0.7vw, -100%);

        @media (min-width: $medium) {
          background-size: 23vw 2.5vw;
          background-position-y: 19.2vw;
        }


        animation-duration: 2s;
        animation-name: mtpSlidein;

        @keyframes mtpSlidein {
          from {
            transform: translate(-100vw, -130%);
            width: 300%;
            opacity: 0;
          }

          20% {
            transform: translate(-100vw, -130%);
            width: 300%;
            opacity: 0;
          }

          50% {
            transform: translate(-0.7vw, -100%);
            width: 100%;
          }

          to {
            transform: translate(-0.7vw, -100%);
            width: 100%;
          }
        }
      }

      .accueil {
        background-image: url('../../dist/images/accueil.png');
        background-size: 34.4%;
        background-position-y: 29vw;
        transform: translate(44.7vw, -200%);

        @media (min-width: $medium) {
          background-size: 13vw 2.5vw;
          background-position-y: 19.2vw;
          transform: translate(30vw, -200%);
        }

        animation-duration: 2s;
        animation-name: accSlidein;

        @keyframes accSlidein {
          from {
            transform: translate(144vw, -230%);
            width: 300%;
            opacity: 0;
          }

          30% {
            transform: translate(144vw, -230%);
            width: 300%;
            opacity: 0;
          }

          60% {
            transform: translate(44.7vw, -200%);
            width: 100%;
          }

          to {
            transform: translate(44.7vw, -200%);
            width: 100%;
          }
        }
      }

      .jeunes {
        background-image: url('../../dist/images/jeunes.png');
        background-size: 26.8%;
        background-position-y: 37.2vw;
        transform: translate(-0.7vw, -300%);

        animation-duration: 2s;
        animation-name: jeuSlidein;

        @keyframes jeuSlidein {
          from {
            transform: translate(-100vw, -300%);
            width: 300%;
            opacity: 0;
          }

          40% {
            transform: translate(-100vw, -300%);
            width: 300%;
            opacity: 0;
          }

          70% {
            transform: translate(-0.7vw, -300%);
            width: 100%;
          }

          to {
            transform: translate(-0.7vw, -300%);
            width: 100%;
          }
        }

        @media (min-width: $medium) {
          background-size: 11vw 2.5vw;
          background-position-y: 23.6vw;
          transform: translate(-0.7vw, -300%);
        }
      }

      .isoles {
        background-image: url('../../dist/images/isoles.png');
        background-size: 24.9%;
        background-position-y: 37.2vw;
        transform: translate(20vw, -400%);

        animation-duration: 2s;
        animation-name: isoSlidein;

        @keyframes isoSlidein {
          from {
            transform: translate(20vw, -350%);
            width: 300%;
            opacity: 0;
          }

          50% {
            transform: translate(20vw, -350%);
            width: 300%;
            opacity: 0;
          }

          80% {
            transform: translate(20vw, -400%);
            width: 100%;
          }

          to {
            transform: translate(20vw, -400%);
            width: 100%;
          }
        }

        @media (min-width: $medium) {
          background-size: 11vw 2.5vw;
          background-position-y: 23.6vw;
          transform: translate(12.3vw, -400%);
        }
      }

      .etrangers {
        background-image: url('../../dist/images/etrangers.png');
        background-size: 42.9%;
        background-position-y: 37.2vw;
        transform: translate(39.4vw, -500%);

        animation-duration: 2s;
        animation-name: etrSlidein;

        @keyframes etrSlidein {
          from {
            transform: translate(139.4vw, -500%);
            width: 300%;
            opacity: 0;
          }

          60% {
            transform: translate(139.4vw, -500%);
            width: 300%;
            opacity: 0;
          }

          90% {
            transform: translate(39.4vw, -500%);
            width: 100%;
          }

          to {
            transform: translate(39.4vw, -500%);
            width: 100%;
          }
        }

        @media (min-width: $medium) {
          background-size: 18vw 2.5vw;
          background-position-y: 23.6vw;
          transform: translate(25vw, -500%);
        }
      }
    }
  }

  .picture {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 65%;
    opacity: 0;
    transition: opacity 1s, background-position-x 6s;

    &:nth-child(even) {
      background-position-x: 35%;

      @media (min-width: $large) {
        background-position-x: 20%;
      }

    }

    @media (min-width: $large) {
      background-size: 120vw;

      &.visible {
        background-position-x: 80%;
      }

    }

    &.visible {
      opacity: 100;
      background-position-x: 50%;
    }
  }

  &::before {
    content: '';
    // background: rgb(69, 47, 16);
    background: black;
    z-index: 101;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.75;
  }
}